body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh;
  width: 98vw;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
}

header h2 {
  margin-top: -5px;
}

.score {
  font-size: 15px;
  margin-left: 20px;
}

.press-space {
  font-size: 15px;
}

.grid-container {
  position: relative;
}

  .grid-item {
  position: absolute;
  background-color: black;
  font-size: 10px;
}

.wall {
  background-color: #1919A6;
}

.pacman {
  position: absolute;
  background-image: url(https://i.imgur.com/OObC8pE.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ghost1 {
  position: absolute;
  background-image: url(https://i.imgur.com/RHpMz2Y.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.small-food {
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
}

.big-food {
  background-color: red;
  border-radius: 15px;
}

footer {
  display: flex;

}

.life {
  background-image: url(https://i.imgur.com/OObC8pE.png);
  margin: 10px 5px 0 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}